@import 'styles/Variables';

.footer {
  position: relative;
  background: linear-gradient(135deg, var(--color-primary) 15%, #26825f);
  padding: 5rem 0rem;
  color: var(--color-white);

  @media (min-width: $breakpoint-small) {
    padding: 10rem 3rem;
  }

  a {
    color: var(--color-white);
    text-decoration: underline;
    transition: all .4s;

    &:hover,
    &:focus {
      color: var(--color-white);
    }
  }

  h3 {
    color: var(--color-lime);
    font-family: $font-family-abolition;
  }

  .footer-nav-contact-info {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 455px) {
      flex-direction: column;
      .contact-info {align-items: flex-start !important;}
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      .cppText {
        padding: 2rem 0 .75rem 0;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        font-family: $font-family-serif-display;
        font-weight: 500;
        font-size: 2.75rem;
      }
      a {
        text-decoration: none;
      }
      p {
        margin: 0;
      }
      .phone {
        margin-bottom: .75rem;
        line-height: 1;
        font-size: 2rem;
        font-family: $font-family-serif-display;
      }
    }

  }
}

.social-links {
  display: flex;
  margin-bottom: 3rem;

  ul {
    display: inline-flex;
    list-style: none;
    margin-bottom: 0;
  }

  li {
    margin: 0;

    &:last-child {
      a {padding-right: 0;}
    }
  }

  .social-icon-link {
    display: flex;
    width: 5rem;
    height: 5rem;
    padding: .75rem;
    vertical-align: middle;
    font-size:2.75rem;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;

    .social-icon {
      color: var(--color-white);
      vertical-align: middle;
      transition: color 0.1s ease-in-out;
    }

  }
}

.nav-one, .nav-two, .logo-address, .copyright {

    @media (min-width: $breakpoint-small)  {
      max-width: 90%;
      margin: 0 auto;
    }
}

.nav-one {
  text-transform: uppercase;
      text-decoration-color: #BD8B13 !important;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: all .4s;
}

.nav-two {
  font-weight: 300;
}


.nav-one, .nav-two {
    font-family: $font-family;
    margin-top: 2rem;
}

.logo-address {
  font-family: $font-family-serif-subhead;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;


  .cp-links {
   margin: 0; 
  }

  p, a {
    margin: 0;
    text-decoration: none;
    font-size: 2rem;
  }

  img {
    max-width: 250px;
    height: auto;
    margin-right: 2rem;
  }
}

.nav, .quick {
  display: flex;
  margin-right: auto;


  ul {
    display: inline-flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;

    @media (min-width: $breakpoint-small) {
      flex-direction: row;
    }
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  li {
    margin: 0;
    margin-bottom: 1rem;

    @media (min-width: $breakpoint-small) {
      margin-right: 2rem;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }

    a {
      text-decoration: none;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.quick ul {
  flex-direction: column;
  line-height: 3.5rem;
}

.copyright {
   margin-top: 2rem;
  font-size: 1.5rem;
}
